
<div class="container">
	<div class="card">
	  <div class="card-body">
		<br />
		<div class="row">
		  <div class="col-md-12">
        <div align="right">
          <button  *ngIf="(concession === jobLocation|| role=='2')" class="btn btn-primary"  (click)="triggerModal(modalData)">
            INSERT
          </button>
          <button
            *ngIf="highlightedRow !== -1 &&( concession === jobLocation || role == '2')"
            class="btn btn-warning"
            (click)="triggerModal(modalDataUpdate)"
          >
            UPDATE
          </button>
          <button *ngIf="highlightedRow !== -1 &&(concession === jobLocation || role ==='2')" (click)="deleteFromLabs()" type="button" class="btn btn-danger">
            DELETE
          </button>
        </div>

			<button class="btn btn-primary" (click)="triggerModal(modalChart)" >📊</button>
        <br>
			<ng-template #modalData let-modal>
			  <div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">Insert New Lab Record</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			  <app-add-new-lab [id]="id" (closeModal)=closePopUpAndRefreshTable()></app-add-new-lab>
			</ng-template>

			<ng-template #modalChart let-modal>
				<div class="modal-header">
				  <h4 class="modal-title" id="modal-basic-title">Chart</h4>
				  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">×</span>
				  </button>
				</div>
				<app-chart-s1-date (closeModal)=closePopUpAndRefreshTable()></app-chart-s1-date>
			  </ng-template>

			<ng-template #modalDataUpdate let-modal>
			  <div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">Update A Lab Record</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				  <span aria-hidden="true">×</span>
				</button>
			  </div>
			  <app-update-lab [id]="id" [labToBeUpdate]="labToBeUpdate" (closeModal)=closePopUpAndRefreshTable()></app-update-lab>
			</ng-template>

		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12">
			<table class="table table-bordered table-hover">
			  <thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>remarks</th>
					<th>s1</th>
					<th>s2</th>
					<th>s3</th>
					<th>s4</th>
					<th>s5</th>
				</tr>
			  </thead>
			  <tbody>
				<tr
				  *ngFor="let lab of labs | paginate: config ;let currentIndex = index"
				  (click)="ClickedRowToDelete(currentIndex); ClickedRowToUpdate(currentIndex)"
				  [class.active]="currentIndex == highlightedRow"
				>
				  <td style="display: none">{{ currentIndex + 1 }}</td>
				  <td>{{lab.id}}</td>
				  <td>{{lab.date | date: 'MM-dd-yyyy'}}</td>
				  <td>{{lab.remarks}}</td>
				  <td>{{lab.s1}}</td>
				  <td>{{lab.s2}}</td>
				  <td>{{lab.s3}}</td>
				  <td>{{lab.s4}}</td>
				  <td>{{lab.s5}}</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		</div>
	  </div>
	</div>
	<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

