<!-- <p>fluid-level-measurements works!</p> -->
<div class="container">
    <!-- <div class="card">
      <div class="card-body"> -->
        <br />
        <div class="row">
          <div class="col-md-12">
            <div align="right">
              <button  *ngIf="(concession === jobLocation|| userRole=='2')" class="btn btn-primary"  (click)="triggerModal(modalData)">
                INSERT
              </button>
              <button
                *ngIf="highlightedRow !== -1 &&( concession === jobLocation || userRole == '2')"
                class="btn btn-warning"
                (click)="triggerModal(modalDataUpdate)"
              >
                UPDATE
              </button>
              <button *ngIf="highlightedRow !== -1 &&(concession === jobLocation || userRole ==='2')" (click)="deleteFromFlms()" type="button" class="btn btn-danger">
                DELETE
              </button>
            </div>
            <br>

            <ng-template #modalData let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Insert New PGI Record</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <app-add-new-pgi [id]="id" (closeModal)=closePopUpAndRefreshTable()></app-add-new-pgi>
            </ng-template>

            <ng-template #modalDataUpdate let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Update A PGI Record</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <app-update-pgi [id]="id" [pgiToBeUpdated]="pgiToBeUpdated" (closeModal)=closePopUpAndRefreshTable()></app-update-pgi>
            </ng-template>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="display: none">#</th>
                  <th>Id</th>
                  <th>initialProdDate</th>
                  <th>initialType</th>
                  <th>initialProduct</th>
                  <th>initialLiftType</th>
                  <th>initStatus</th>
                  <th>monitoringSystem</th>
                  <th>currentWellType</th>
                  <th>currentWellTypeDate</th>
                  <th>currentProduct</th>
                  <!-- <th>currentStatus</th>
                  <th>runtime</th>
                  <th>currentLiftType</th>
                  <th>currentLiftTypeDate</th>
                  <th>powerSourceType</th>
                  <th>powerSource</th>
                  <th>processionPlant</th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let pgi of pgis; let currentIndex = index"
                  (click)="ClickedRowToDelete(currentIndex); ClickedRowToUpdate(currentIndex)"
                  [class.active]="currentIndex == highlightedRow"
                >
                  <td style="display: none">{{ currentIndex }}</td>
                  <td>{{ pgi.id }}</td>
                  <td>{{ pgi.initialProdDate | date: "MM-dd-yyyy" }}</td>
                  <td>{{ pgi.initialType}}</td>
                  <td>{{ pgi.initialProduct }}</td>
                  <td>{{ pgi.initialLiftType }}</td>
                  <td>{{ pgi.initStatus }}</td>
                  <td>{{ pgi.monitoringSystem }}</td>
                  <td>{{ pgi.currentWellType }}</td>
                  <td>{{ pgi.currentWellTypeDate | date: "MM-dd-yyyy" }}</td>
                  <td>{{ pgi.currentProduct }}</td>
                  <!-- <td>{{ pgi.currentStatus }}</td>
                  <td>{{ pgi.runtime }}</td>
                  <td>{{ pgi.currentLiftType }}</td>
                  <td>{{ pgi.currentLiftTypeDate | date: "MM-dd-yyyy" }}</td>
                  <td>{{ pgi.powerSourceType }}</td>
                  <td>{{ pgi.powerSource }}</td>
                  <td>{{ pgi.processionPlant }}</td> -->
                </tr>
              </tbody>
            </table>
            <br>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="display: none">#</th>
                  <th>Id</th>
                  <th>currentStatus</th>
                  <th>runtime</th>
                  <th>currentLiftType</th>
                  <th>currentLiftTypeDate</th>
                  <th>powerSourceType</th>
                  <th>powerSource</th>
                  <th>processionPlant</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let pgi of pgis; let currentIndex = index"
                  (click)="ClickedRowToDelete(currentIndex); ClickedRowToUpdate(currentIndex)"
                  [class.active]="currentIndex == highlightedRow"
                >
                  <td>{{ pgi.id }}</td>
                  <td>{{ pgi.currentStatus }}</td>
                  <td>{{ pgi.runtime }}</td>
                  <td>{{ pgi.currentLiftType }}</td>
                  <td>{{ pgi.currentLiftTypeDate | date: "MM-dd-yyyy" }}</td>
                  <td>{{ pgi.powerSourceType }}</td>
                  <td>{{ pgi.powerSource }}</td>
                  <td>{{ pgi.processionPlant }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <!-- </div>
    </div> -->
  </div>

