<div class="container my-card">
  <div class="form">
    <mat-form-field floatplaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter concession">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button (click)="addNew()" color="primary">Add Concession</button>
    <button mat-raised-button (click)="addNew()" color="accent">Edit Concession</button>
    <button mat-raised-button (click)="addNew()" color="warn">Delete</button>
  </div>
  <mat-table #table [dataSource]="concessionsList" matSort class="mat-cell">
    <!-- Concession Id Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!--Concession Name Column -->
    <ng-container matColumnDef="ConcessionName">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <!--    Actions-->
    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"
                (click)="EditRecord(i, row.id, row.name)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="delete(i, row.id, row.name)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
