button {
  margin-left: 20px;
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}
.my-card{
 position: center;
  top: 150px;
  max-height: 800px;
  max-width: 600px;
  background-color: #feffff;
}

.example-table-container {
  position: relative;
  height: 400px;
  overflow: auto;
}

table {
  width: 70%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-ID {
  max-width: 150px;
}
.mat-column-ConcessionName{
  width: 300px;
}

/*formatting the material dialog*/
.my-class .mat-dialog-container {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
}

