<h2 mat-dialog-title> {{header}}</h2>
<div mat-dialog-content>
  <form #wellTestForm="ngForm">
    <div class="form-group">
      <label for="productionDate">Date</label>
      <input type="text" class="form-control" name="productionDate" ngModel>
    </div>
    <div class="form-group">
      <label for="tDuration">Duration</label>
      <input type="text" class="form-control" name="tDuration" ngModel>
    </div>
    <div class="form-group">
      <label for="gross">Gross</label>
      <input type="text" class="form-control" name="gross" ngModel>
    </div>
    <div class="form-group">
      <label for="net">Net</label>
      <input type="text" class="form-control" name="net" ngModel>
    </div>
    <div class="form-group">
      <label for="waterCut">Water Cut</label>
      <input type="text" class="form-control" name="waterCut" ngModel>
    </div>
    <div class="form-group">
      <label for="gor">GOR</label>
      <input type="text" class="form-control" name="gor" ngModel>
    </div>
    <div class="form-group">
      <label for="gasRate">Gas Rate</label>
      <input type="text" class="form-control" name="gasRate" ngModel>
    </div>

    <div class="form-group">
      <label for="condensateRate">Condensate Rate</label>
      <input type="text" class="form-control" name="condensateRate" ngModel>
    </div>

    <div class="form-group">
      <label for="whp">WHP</label>
      <input type="text" class="form-control" name="whp" ngModel>
    </div>

    <div class="form-group">
      <label for="wht">WHT</label>
      <input type="text" class="form-control" name="wht" ngModel>
    </div>
    <div class="form-group">
      <label for="usp">USP</label>
      <input type="text" class="form-control" name="usp" ngModel>
    </div>
    <div class="form-group">
      <label for="ust">UST</label>
      <input type="text" class="form-control" name="ust" ngModel>
    </div>
    <div class="form-group">
      <label for="sp">Sp</label>
      <input type="text" class="form-control" name="st" ngModel>
    </div>
    <div class="form-group">
      <label for="st">St</label>
      <input type="text" class="form-control" name="st" ngModel>
    </div>
    <div class="form-group">
      <label for="flp">FLP</label>
      <input type="text" class="form-control" name="flp" ngModel>
    </div>
    <div class="form-group">
      <label for="flt">FLT</label>
      <input type="text" class="form-control" name="flt" ngModel>
    </div>
    <div class="form-group">
      <label for="chockType">Chock Type</label>
      <input type="text" class="form-control" name="chockType" ngModel>
    </div>
<!--    <mat-form-field>-->
<!--      <mat-select [(value)]="wellTestRequestAdd.chockType">-->
<!--        <mat-label>Chock Type</mat-label>-->
<!--        <mat-option value="fixed">Fixed</mat-option>-->
<!--        <mat-option value="adjustable">Adj</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
    <div class="form-group">
      <label for="chockSize">Chock Size</label>
      <input type="text" class="form-control" name="chockSize" ngModel>
    </div>
    <div class="form-group">
      <label for="h2s">H2s</label>
      <input type="text" class="form-control" name="hs2" ngModel>
    </div>
    <div class="form-group">
      <label for="Co2">Co2</label>
      <input type="text" class="form-control" name="Co2" ngModel>
    </div>
    <div class="form-group">
      <label for="Unit">Unit</label>
      <input type="text" class="form-control" name="Unit" ngModel>
    </div>
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <input type="text" class="form-control" name="remarks" ngModel>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="false" class="btn btn-danger">Cancel</button>
  <button mat-button mat-dialog-close="true" class="btn-primary" (click)="onSubmit(wellTestForm)">Save</button>
</mat-dialog-actions>
