<div class="container">
  <div class="card">
    <div class="card-body">
      <br />
      <div>
        <form [formGroup]="form">
          <div class="lg-3">
            <label for="formDate" class="form-label">Date</label>
            <input  [ngModel]="convertedDate | date:'yyyy-MM-dd'" (ngModelChange)="convertedDate = $event"
                    formControlName="date" type="date" class="form-control" placeholder="Date" id="formDate"/>
            <div *ngIf="form.controls['date'].invalid && ((form.controls['date'].touched) || (this.form.controls['date'].dirty))">
              <small *ngIf="this.form.controls['date'].hasError('required')" class="form-text text-danger">Please Pick a Date</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label for="formHour" class="form-label">Time</label>
            <input [(ngModel)]="convertedTime" formControlName="time" type="time" class="form-control" placeholder="Time" id="formHour"/>
            <div *ngIf="form.controls['time'].invalid && ((form.controls['time'].touched) || (this.form.controls['time'].dirty))">
              <small *ngIf="this.form.controls['time'].hasError('required')" class="form-text text-danger">Please Pick a Time</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label for="formwellType" class="form-label">wellType</label>
            <input [(ngModel)]="drillingUpdate.wellType" formControlName="wellType" type="text" class="form-control" placeholder="wellType" id="formwellType"/>
            <div *ngIf="form.controls['wellType'].invalid && ((form.controls['wellType'].touched) || (this.form.controls['wellType'].dirty))">
              <small *ngIf="this.form.controls['wellType'].hasError('required')" class="form-text text-danger">Please Enter The wellType</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label  class="form-label">wellDescription</label>
            <input [(ngModel)]="drillingUpdate.wellDescription" formControlName="wellDescription" type="text" class="form-control" placeholder="wellDescription" id="wellDescription"/>
            <div *ngIf="form.controls['wellDescription'].invalid && ((form.controls['wellDescription'].touched) || (this.form.controls['wellDescription'].dirty))">
              <small *ngIf="this.form.controls['wellDescription'].hasError('required')" class="form-text text-danger">Please Enter The wellDescription</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label for="boreType" class="form-label">boreType</label>
            <input [(ngModel)]="drillingUpdate.boreType" formControlName="boreType" type="text" class="form-control" placeholder="boreType" id="boreType"/>
            <div *ngIf="form.controls['boreType'].invalid && ((form.controls['boreType'].touched) || (this.form.controls['boreType'].dirty))">
              <small *ngIf="this.form.controls['boreType'].hasError('required')" class="form-text text-danger">Please Enter The boreType</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label class="form-label">measuredDepth</label>
            <input [(ngModel)]="drillingUpdate.measuredDepth" formControlName="measuredDepth" type="number" class="form-control" placeholder="measuredDepth" id="measuredDepth"/>
            <div *ngIf="form.controls['measuredDepth'].invalid && ((form.controls['measuredDepth'].touched) || (this.form.controls['measuredDepth'].dirty))">
              <small *ngIf="this.form.controls['measuredDepth'].hasError('required')" class="form-text text-danger">Please Enter The measuredDepth</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label class="form-label">tvdDepth</label>
            <input [(ngModel)]="drillingUpdate.tvdDepth" formControlName="tvdDepth" type="number" class="form-control" placeholder="tvdDepth" id="tvdDepth"/>
            <div *ngIf="form.controls['tvdDepth'].invalid && ((form.controls['tvdDepth'].touched) || (this.form.controls['tvdDepth'].dirty))">
              <small *ngIf="this.form.controls['tvdDepth'].hasError('required')" class="form-text text-danger">Please Enter The tvdDepth</small>
            </div>
          </div>
          <br>

          <div class="lg-3">
            <label class="form-label">bbtp</label>
            <input [(ngModel)]="drillingUpdate.bbtp" formControlName="bbtp" type="number" class="form-control" placeholder="bbtp" id="bbtp"/>
            <div *ngIf="form.controls['bbtp'].invalid && ((form.controls['bbtp'].touched) || (this.form.controls['bbtp'].dirty))">
              <small *ngIf="this.form.controls['bbtp'].hasError('required')" class="form-text text-danger">Please Enter The bbtp</small>
            </div>
          </div>
          <br>


          <div class="lg-3">
            <label  class="form-label">productionGeneralInfo</label>
            <input [(ngModel)]="drillingUpdate.productionGeneralInfo" formControlName="productionGeneralInfo" type="text" class="form-control" placeholder="productionGeneralInfo" id="productionGeneralInfo"/>
            <div *ngIf="form.controls['productionGeneralInfo'].invalid && ((form.controls['productionGeneralInfo'].touched) || (this.form.controls['productionGeneralInfo'].dirty))">
              <small *ngIf="this.form.controls['productionGeneralInfo'].hasError('required')" class="form-text text-danger">Please Enter The productionGeneralInfo</small>
            </div>
          </div>
          <br>
          <button  type="submit" class="btn btn-primary" (click)="update()">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
