<!--<p>well works!</p>-->
<div class="container">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>well_id</th>
              <th>well_name</th>
              <th>field_id</th>
              <th>well_code</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wel of well; let currentIndex=index">
              <td>{{currentIndex+1}}</td>
              <td>{{wel.wellId}}</td>
              <td>{{wel.wellName}}</td>
              <td>{{wel.fieldId}}</td>
              <td>{{wel.wellCode}}</td>
<!--              <td><button type="button" class="btn btn-danger" (click)="deleteFromFlms(currentIndex)">Delete</button></td>-->
<!--          -->
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
