<!--<button class="btn btn-primary" (click)="triggerModal(modalData)">insert</button>-->
<button class="btn btn-primary" (click)="triggerModal(modalData)" >➕</button>
<!--<button class="btn btn-primary" (click)="triggerModal(updateModal) ; helper()">Update</button>-->
<button *ngIf="HighlightRow !== -1" class="btn btn-warning" (click)="triggerModal(modalDataUpdate)">🖊️</button>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Insert New Production budget record</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div>

    <app-new-productionbudget (closeModal)=closePopUpAndRefreshTable()></app-new-productionbudget>

  </div>
</ng-template>

<ng-template #modalDataUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Update A Production budget Record</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <app-update-production-budget [productionUpdate]="productionUpdate" (closeModal)=closePopUpAndRefreshTable()></app-update-production-budget>
</ng-template>


<button (click)="delete()" type="button" class="btn btn-danger">DELETE</button>

<!--<button  (click)="" type="button" class="btn bg-primary">Add</button>-->
<table class="table table-bordered table-responsive table-condensed table-hover data-page-length='10'">
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Production Date</th>
    <th>Meleiha</th>
    <th>Aghar</th>
    <th>East Kanays</th>
    <th>Zarif</th>
    <th>Faras</th>
    <th>Raml</th>
    <th>Western Desert</th>
    <th>Ashrafi</th>
    <th>Agiba Oil</th>
    <th>Sales Gas</th>
    <th>Agiba Boe</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of productionBudgetDataResponse; let currentIndex=index" (click)="ClickedRow(currentIndex) ;ClickedRowToUpdate(currentIndex) "
      [class.active]="currentIndex == HighlightRow">
    <td>{{currentIndex + 1}}</td>
    <td>{{item.id}}</td>
    <td>{{item.productionDate | date: "MM-dd-yyyy" }}</td>
    <td>{{item.meleiha}}</td>
    <td>{{item.aghar}}</td>
    <td>{{item.eastKanays}}</td>
    <td>{{item.zarif}}</td>
    <td>{{item.faras}}</td>
    <td>{{item.raml}}</td>
    <td>{{item.westernDesert}}</td>
    <td>{{item.ashrafi}}</td>
    <td>{{item.agibaOil}}</td>
    <td>{{item.salesGas}}</td>
    <td>{{item.agibaBOE}}</td>
  </tr>
  </tbody>
</table>
