<!-- <p>fluid-level-measurements works!</p> -->
<div class="container">
    <div class="card">
        <div class="card-body">
            <br>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger" (click)="deleteFromFlms()">🗑️</button>
                <button class="btn btn-warning">🖊️</button>
                <button class="btn btn-primary">➕</button>
              </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <!-- <tr>
                            <button class="btn btn-danger">Delete</button>
                          </tr> -->
                          <tr>
                            <th style="display: none;">#</th>
                            <th>Well Id</th>
                            <th>Date</th>
                            <th>Intervals</th>
                            <th>FLType</th>
                            <th>Fluid Level</th>
                            <th>Pump Depth</th>
                            <th>Liq Percentage</th>
                            <th>Pump Fillage</th>
                            <th>Pump Submerge</th>
                            <th>card</th>
                            <th>Remarks</th> 
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let flm of flms; let currentIndex=index" (click)="ClickedRowToDelete(currentIndex)" [class.active]="currentIndex == highlightedRow">
                            <td style="display: none;">{{currentIndex+1}}</td>
                            <td>{{flm.wellId}}</td>
                            <td>{{flm.date | date: 'dd-MM-yyyy'}}</td>
                            <td>{{flm.intervals}}</td>
                            <td>{{flm.flType}}</td>
                            <td>{{flm.fluidLevel}}</td>
                            <td>{{flm.pumpDepth}}</td>
                            <td>{{flm.liqPercentage}}</td>
                            <td>{{flm.pumpFillage}}</td>
                            <td>{{flm.pumpSubmerge}}</td>
                            <td>{{flm.card}}</td>
                            <td>{{flm.remarks}}</td>
                            <!-- <td><button type="button" class="btn btn-danger" (click)="deleteFromFlms(currentIndex)">Delete</button></td> -->
                          </tr>
                        </tbody>
                      </table>
                </div>
               
            </div>
        </div>
      </div>
</div>
