<div class="container">
    <div class="card">
      <div class="card-body">
        <br />
        <div>

                <div class="lg-3">
                    <label for="formWellId" class="form-label">WellId</label>
                    <input type="number" [(ngModel)]="wellId" class="form-control" placeholder="wellId" id="formWellId" />
                  </div>
                  <form [formGroup]="form">
            <br>

            <div class="lg-3">
              <label for="formDate" class="form-label">Date</label>
              <input formControlName="date" type="date" class="form-control" placeholder="Date" id="formDate"/>
              <div *ngIf="form.controls['date'].invalid && ((form.controls['date'].touched) || (this.form.controls['date'].dirty))">
                <small *ngIf="this.form.controls['date'].hasError('required')" class="form-text text-danger">Please Pick a Date</small> 
              </div>
            </div>
            <br>

            <div class="lg-3">
                <label for="formRemarks" class="form-label">Remarks</label>
                <input formControlName="remarks" type="text" class="form-control" placeholder="remarks" id="formRemarks"/>
                <div *ngIf="form.controls['remarks'].invalid && ((form.controls['remarks'].touched) || (this.form.controls['remarks'].dirty))">
                </div>
              </div>
            <br>

            <div class="lg-3">
                <label for="formS1" class="form-label">S1</label>
                <input formControlName="s1" type="text" class="form-control" placeholder="S1" id="formS1"/>
                  <small *ngIf="this.form.controls['s1'].hasError('required')" class="form-text text-danger">Please Enter The S1</small> 
              </div>
            <br>

            <div class="lg-3">
                <label for="formS2" class="form-label">S2</label>
                <input formControlName="s2" type="number" class="form-control" placeholder="S2" id="formS2"/>
                  <small *ngIf="this.form.controls['s2'].hasError('required')" class="form-text text-danger">Please Enter The S2</small> 
              </div>

            <br>

            
            <div class="lg-3">
                <label for="formS3" class="form-label">S3</label>
                <input formControlName="s3" type="number" class="form-control" placeholder="S3" id="formS3"/>
                  <small *ngIf="this.form.controls['s3'].hasError('required')" class="form-text text-danger">Please Enter The S3</small> 
              </div>
            <br>

            <div class="lg-3">
                <label for="formS4" class="form-label">S4</label>
                <input formControlName="s4" type="number" class="form-control" placeholder="S4" id="formS4"/>
                  <small *ngIf="this.form.controls['s4'].hasError('required')" class="form-text text-danger">Please Enter The S4</small> 
              </div>

            <br>

            <div class="lg-3">
                <label for="formS5" class="form-label">S5</label>
                <input formControlName="s5" type="number" class="form-control" placeholder="S4" id="formS5"/>
                  <small *ngIf="this.form.controls['s5'].hasError('required')" class="form-text text-danger">Please Enter The S5</small> 
              </div>
            <br>
            <button  type="submit" class="btn btn-primary" (click)="insert()">Insert</button>
          </form>
        </div>
      </div>
    </div>
  </div>
