<div class="container">
  <h3 mat-dialog-title>Edit Budgets for id: {{data.rowData.index}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Melieha Actual" [(ngModel)]="data.rowData.productionDate"
               name="productionDate" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Melieha Actual" [(ngModel)]="data.rowData.meleihaActual"
               name="meleihaActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Melieha Budget" [(ngModel)]="data.rowData.meleihaBudget"
               name="meleihaBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Aghar Actual" [(ngModel)]="data.rowData.agharActual"
               name="agharActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Aghar Budget" [(ngModel)]="data.rowData.agharBudget"
               name="agharBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Kanayes Actual" [(ngModel)]="data.rowData.eastKanaysActual"
               name="eastKanaysActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Kanayes Budget" [(ngModel)]="data.rowData.eastKanaysBudget"
               name="eastKanaysBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Zarif Actual" [(ngModel)]="data.rowData.zarifActual"
               name="zarifActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Zarif Budget" [(ngModel)]="data.rowData.zarifBudget"
               name="zarifBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="faras Actual" [(ngModel)]="data.rowData.farasActual"
               name="farasActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="faras Budget" [(ngModel)]="data.rowData.farasBudget"
               name="farasBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Raml Actual" [(ngModel)]="data.rowData.ramlActual"
               name="ramlActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Raml Budget" [(ngModel)]="data.rowData.ramlBudget"
               name="ramlBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="WD Actual" [(ngModel)]="data.rowData.westernDesertActual"
               name="westernDesertActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="WD Budget" [(ngModel)]="data.rowData.westernDesertBudget"
               name="westernDesertBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Ash Actual" [(ngModel)]="data.rowData.ashrafiActual"
               name="ashrafiActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Ash Budget" [(ngModel)]="data.rowData.ashrafiBudget"
               name="ashrafiBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Total Actual" [(ngModel)]="data.rowData.agibaOilActual"
               name="agibaOilActual" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Total Budget" [(ngModel)]="data.rowData.agibaOilBudget"
               name="agibaOilBudget" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">
        Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
